* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.section {
    padding: 0px 15vw;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    margin-left: auto;
    gap: 35px;
}

.header li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    background-color: #1f2937;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.sign-up h1 {
    font-size: 48px;
    color: #f9faf8
}

.sign-up p {
    font-size: 18px;
    color: #e5e7eb
}

.sign-up button {
    height: 30px;
    width: 100px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px;
    border-radius: 6px;
    font-weight: 700;
}

.main img {
    width: 500px;
    height: auto;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 102px;
}

.captioned-box {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
    align-items: center;
}

.captioned-box div {
    width: 140px;
    height: 140px;
    border: 2px #3882f6 solid;
    border-radius: 10px;
}

.captioned-box p {
    text-align: center;
}